@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff");
  /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 30px;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.trackbar {
  margin-bottom: 2px;
}

.play-list {
  text-align: left;
}

.play-list li:active {
  /* background-image: ; */
  background-image: url("../assets/svg/pause.svg");
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.player-controls {}

.hide {
  opacity: 0;
  animation: ani 2.5s forwards;
}

@keyframes ani {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.appear {
  opacity: 1;
  animation: anim 2.5s forwards;
}

.current-time, .total-duration {
  font-size: 14px;
}

@keyframes anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.player-icon1 {
  width: 23px;
  height: 23px;
  background-size: 23px 23px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: .3s;
  margin-right: 4px;
}

.details {
  font-size: 17px;
}

.trackname {
  opacity: 0.8;
  padding-top: 3px;
}

.slider_container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  height: 20px;
}

.trackname:hover {
  opacity: 1;
  cursor: pointer;
}

.play1 {
  width: 23px;
  height: 23px;
  background-size: 23px 23px;
  background-image: url("../assets/svg/play.svg");
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

#trashbox {
  display: flex;
}

.trackbar {
  display: flex;
}

.seek_slider, .volume_slider {
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
  background: #a5b6dd;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.fa:hover {
  cursor: pointer;
}

input[type="range"i] {
  /* appearance: auto;
  cursor: default;
  color: -internal-light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
  padding: initial;
  border: initial;
  margin: 2px; */
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 40%;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #4ca8dd;
  cursor: pointer;
  border-radius: 100%;
}

.player-icon1:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.settings {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: flex-end;
  /* flex: 0 0 var(--bottom-side-width); */
}

.settings {
  background-size: 30px 30px;
  background-image: url("../assets/svg/play.svg");
  opacity: 0.5;
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 4px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.option-input:hover {
  background: #9faab7;
}

.option-input:checked {
  background: #40e0d0;
}

.option-input:checked::before {
  width: 20px;
  height: 20px;
  display: flex;
  content: '\f00c';
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-family: 'Font Awesome 5 Free';
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 10;
}

.option-input.radio {
  border-radius: 50%;
}

.option-input.radio::after {
  border-radius: 50%;
}

label {
  display: block;
  line-height: 40px;
}

@keyframes click-wave {
  0% {
    height: 20px;
    width: 20px;
    opacity: 0.35;
    position: relative;
  }

  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.panel {
  bottom: 55px;
  border-radius: 7px;
  width: 480px;
  height: 360px;
  background: rgba(255, 255, 255);
  z-index: 999;
  position: absolute;
  color: black;
  display: flex;
  z-index: 5;
}

.panel-right {
  /* margin: 10px 5px; */
  width: 160px;
  height: 360px;
  border-right: 1px solid rgb(161, 160, 160);

}

.none {
  display: none !important;
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

.check-box {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  color: #070707;
}

.check-box:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + .check-box {
  background: #bada55;
}

input:checked + .check-box:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

.panel-right-text-content {
  /* width: 100%; */
  margin: 25px;
  font-size: 18px;
  color: #070707;
  text-align: left;
  opacity: 1;
}

.panel-right-text-content p {
  margin-bottom: 10px;
}

.panel-right-text-content p:hover {
  cursor: pointer;
  opacity: 0.5;
}

.account {
  /* bottom: 0; */
  bottom: 0;
  margin-top: 220px;
}

.panel-left {
  height: 340px;
  width: 320px
}

.settings:hover {
  cursor: pointer;
  opacity: 1;
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.pause1 {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  align-items: flex-end;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
  /* display: flex; */
  /* align-items: flex-end; */
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

.choosing-lang {
  /* display: flex; */

}

.choose-lang {
  animation: anim 1s forwards;
  margin: 20px;
}

.choose-api {
  
  animation: anim 1s forwards;
  margin: 20px;
}

@keyframes anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.title__choosing-api {
  font-size: 18px;
  margin-bottom: 20px;
}

.title__choosing-lang {
  font-size: 18px;
  margin-bottom: 20px;
}

.button-submit-api, .button-submit-apiFlick {
    background-color: #47b34b; /* Green */
    border: none;
    color: white;
    padding: 9px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    animation: anim 1.5s both;
    /* transition: easy-in 2s; */
}

.warning-api-flick {
  color: rgb(236, 17, 17);
  font-size: 14px;
}

.button-submit:hover {
  cursor: pointer;
  background-color: #439946;
}

.choosing-api {
  text-align: left;
  /* display: flex; */
}

.type-api, .input-api, .type-api-flick, .input-api-flick {
  animation: anim 1.5s both;
  text-indent: 3px;
  height: 30px;
  border-radius: 4px;
  font-size: 16px;
  width: 190px;
  border-color: #2c2c2c;
}

.warning-input {
  border-color: rgb(192, 17, 17);
}

.todo-list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  bottom: calc(30px);
  position: relative;
  /* position: absolute; */
  /* z-index: 9999; */
  /* width: 240px;
  height: 240px;
  overflow: hidden;
  background: linear-gradient(135deg, #4AB1FF, #2D5CFE); */
}

::selection {
  /* color: #444444; */
  color: #fff;
  background: #3C87FF;
}

.wrapper {
  max-width: 205px;
  padding: 8px 0 3px;
  margin: 0px auto;
  background: white;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.task-input {
  height: 52px;
  padding: 0 5px;
  position: relative;
}

.task-input img {
  top: 50%;
  position: absolute;
  transform: translate(17px, -50%);
}

.task-input input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  padding: 0 2px 0 53px;
  border: 1px solid #999;
}

.task-input input:focus,
.task-input input.activ {
  padding-left: 52px;
  border: 2px solid #3C87FF;
}

.task-input input::placeholder {
  color: #bfbfbf;
}

.controls, li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  padding: 8px 5px;
  border-bottom: 1px solid #ccc;
}

.filters span {
  margin: 0 8px;
  font-size: 13px;
  color: #444444;
  cursor: pointer;
}

.filters span:first-child {
  margin-left: 0;
}

.filters span.activ {
  color: #3C87FF;
}

.controls .clear-btn {
  border: none;
  opacity: 0.6;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  pointer-events: none;
  transition: transform 0.25s ease;
  background: linear-gradient(135deg, #1798fb 0%, #2D5CFE 100%);
}

.clear-btn.activ {
  opacity: 0.9;
  pointer-events: auto;
}

.clear-btn:active {
  transform: scale(0.93);
}

.task-box {
  margin-top: 2px;
  margin-right: 5px;
  padding: 0 10px 5px 5px;
}

.task-box.overflow {
  overflow-y: auto;
  max-height: 200px;
}

.task-box::-webkit-scrollbar {
  width: 5px;
}

.task-box::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.task-box::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 25px;
}

.task-box .task {
  color: #444444;
  list-style: none;
  font-size: 14px;
  margin-bottom: 18px;
  padding-bottom: 10px;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
}

.task-box .task:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

.task-box .task label {
  display: flex;
  align-items: flex-start;
}

.task label input {
  margin-top: 7px;
  accent-color: #3C87FF;
}

.task label p {
  user-select: none;
  margin-left: 12px;
  word-wrap: break-word;
}

.task label p.checked {
  text-decoration: line-through;
}

.task-box .soluti {
  /* background: url(assets\svg\bars-icon.svg); */
  position: relative;
}

.soluti :where(i, li) {
  /* background: url(assets\svg\bars-icon.svg); */
  cursor: pointer;
}

.soluti .task-menu {
  /* background: url(assets\svg\bars-icon.svg); */
  color: #444444;
  z-index: 10;
  right: -5px;
  bottom: -65px;
  padding: 5px 0;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: top right;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}

.task-box .task:last-child .task-menu {
  bottom: 0;
  transform-origin: bottom right;
}

.task-box .task:first-child .task-menu {
  bottom: -65px;
  transform-origin: top right;
}

.task-menu.show {
  transform: scale(1);
}

.task-menu li {
  height: 25px;
  font-size: 12px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  justify-content: flex-start;
}

.task-menu li:last-child {
  margin-bottom: 0;
}

.soluti li:hover {
  color: #444444;
  /* background-color: #ad0e0e; */
}

.soluti li i {
  color: #444444;
  padding-right: 8px;
  /* background-color: #1798fb; */
}

.uil-ellipsis-h:before {
  content: '\e99c';
}

.todo-list span {
  color: #444444;
}

@media (max-width: 400px) {
  body {
    padding: 0 10px;
  }

  .wrapper {
    padding: 20px 0;
  }

  .filters span {
    margin: 0 5px;
  }

  .task-input {
    padding: 0 20px;
  }

  .controls {
    padding: 18px 20px;
  }

  .task-box {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 15px 10px 20px;
  }

  .task label input {
    margin-top: 4px;
  }
}